<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>PAGE TEST PAY2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div style="text-align: center; margin-top: 40px;">
    <h1 style="color: orange;">TEST RÉUSSI ?</h1>
    <p>Si vous voyez cette page jaune, alors le problème n'est pas la navigation mais bien le contenu de l'autre
      composant.</p>
    <ion-button expand="block" routerLink="/tabs/tab1">RETOUR HOME</ion-button>
  </div>
</ion-content>