.games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
  }
  
  ion-card {
    margin: 10px;
    width: 300px;
  }
  
  ion-button {
    margin-top: 10px;
  }
  