<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Partager l'application</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- En-tête avec un message -->
  <div class="share-header ion-text-center">
    <ion-avatar class="share-avatar">
      <img src="../../assets/illustration-concept-reunion-pitch_114360-6300.jpg" alt="Share Icon">
    </ion-avatar>
    <h2 class="share-title">Partagez et parrainez vos amis !</h2>
    <p>Utilisez les boutons ci-dessous pour partager le lien de l'application ou votre code de parrainage.</p>
  </div>

  <!-- Code de parrainage -->
  <ion-card class="share-card">
    <ion-card-header>
      <ion-card-subtitle>Votre code de parrainage</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>CODE12345</ion-label>
        <ion-button color="danger" fill="outline" slot="end" (click)="copyCode()">
          Copier le code
          <ion-icon  slot="end" name="copy-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Options de partage -->
  <ion-list>
    <ion-item button detail="false" (click)="shareViaWhatsApp()">
      <ion-icon slot="start" name="logo-whatsapp" color="success"></ion-icon>
      <ion-label>Partager via WhatsApp</ion-label>
    </ion-item>

    <ion-item button detail="false" (click)="shareViaFacebook()">
      <ion-icon slot="start" name="logo-facebook" color="primary"></ion-icon>
      <ion-label>Partager via Facebook</ion-label>
    </ion-item>

    <ion-item button detail="false" (click)="shareViaTwitter()">
      <ion-icon slot="start" name="logo-twitter" color="tertiary"></ion-icon>
      <ion-label>Partager via Twitter</ion-label>
    </ion-item>

    <ion-item button detail="false" (click)="shareViaEmail()">
      <ion-icon slot="start" name="mail-outline" color="medium"></ion-icon>
      <ion-label>Partager via Email</ion-label>
    </ion-item>
  </ion-list>

  <!-- Bouton de partage général -->
  <ion-button expand="block" color="danger" class="share-button" (click)="shareAppLink()">
    <ion-icon name="share-social-outline" slot="start"></ion-icon>
    Partager l'application
  </ion-button>
</ion-content>
